<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>home</title>
    </head>

    <body>
        <h1>BookStore</h1>
        <div>
            <table border="1">
                <tr>
                    <th>ID</th>
                    <th>TITLE</th>
                    <th>DESCRIPTION</th>
                </tr>
                <tr th:each="obj:${list}">
                    <td th:text="${obj.id}"></td>
                    <td th:text="${obj.title}"></td>
                    <td th:text="${obj.description}"></td>
                </tr>
            </table>
        </div>
    </body>
</html>